<ion-content [fullscreen]="true" mode="ios">
  <ion-card>
    <ion-item color="light" lines="none" class="perfil">
      <ion-avatar slot="start" class="img-avatar-lista">
        <img src="../../../assets/images/foto.png" alt="">
        <img class="punto-naranja" src="../../../assets/images/btn-cards/VIP level.svg" alt="">
      </ion-avatar>

      <ion-label>
        <h6>Ludwing Barriga</h6>    
    </ion-label>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-text><small>VISITAS</small></ion-text>
          <h6>2000</h6>
        </ion-col>

        <ion-col size="4">
          <ion-text><small>LIKES</small></ion-text>
          <h6>500</h6>
        </ion-col>

        <ion-col size="4">
          <ion-text><small>FAVORITOS</small></ion-text>
          <h6>30</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
